#intro{
    display: flex;
    flex-direction: column;
}

#bannerProfile{
    max-width: 100%;
    margin-bottom: 3%;
  }

#info{
    display: flex;
    justify-content: space-between;
}

#info .box_ImagemProfile{
    width: 24%;
    align-self: center;
}

#info .imagemProfile{
    max-width: 75%;
    /* width: 52%; */
    align-self: center;
}

#info .imagemProfile:hover{
    transform: rotateY(180deg);
}

.descricao_Secao p{
    margin: 2% 0px;
}


@media (max-width: 950px) {

    #info .box_ImagemProfile{
      display: none;
    }
    #info .box_SectionTitulos{
      min-width: 100%;
    }
}

@media (max-width: 550px) {

    #info .sectionTitulos{
        width: 80%;
    }
}