#mainGallery section {
    background-color: antiquewhite;
}

#mainGallery section:nth-child(even) {
    background-color: burlywood;  
}

#mainGallery section:nth-child(even) .tituloSecao{
    border-color: sienna;
}

/* .botaoAtalhos a:visited{
    color: black;
}

.botaoGaleria a:visited{
    color: black;
} */