#mainGallery{
    --CrCArtePri1: antiquewhite;
    --CrCArtePri2: peachpuff;
    --CrCArteSec1: burlywood;
    --CrCArteSec2: darksalmon;
}

#mainGallery footer {
    background-color: var(--CrDivSec1);
    font-size: small;
    padding: 2% 4%;
    margin: 0 50px;
}

    .cartoesArte{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px !important;
    }

        .cartoesArte .cartaoArte {
            background-color: var(--CrCArtePri1);
        }
        .cartoesArte .cartaoArte .infoCA_hr{
            color: var(--CrCArteSec1);
        }

        .cartoesArte .cartaoArte:nth-child(even) {
            background-color: var(--CrCArtePri2);
        }
        .cartoesArte .cartaoArte:nth-child(even) .infoCA_hr{
            color: var(--CrCArteSec2);
        }

@media (max-width: 950px) {
    #mainGallery footer {
        padding: 2% 3%;
        margin: 18px 18px 0 18px;
    }
}

@media (max-width: 550px) {
    #mainGallery footer {
        padding: 2% 2%;
        margin: 12px 12px 0 12px;
    }
}