#mainGallery section {
    background-color: antiquewhite;
}

#mainGallery section .preview_cartaoArte{
    border-color: burlywood;
}

#mainGallery section .tituloSecao{
    border-color: burlywood;
}

#mainGallery section:nth-child(even) {
    background-color: peachpuff;  
}

#mainGallery section:nth-child(even) .preview_cartaoArte{
    border-color: darksalmon;
}

#mainGallery section:nth-child(even) .tituloSecao{
    border-color: darksalmon;
}

/* .botaoAtalhos a:visited{
    color: black;
}

.botaoGaleria a:visited{
    color: black;
} */