.cartaoArte{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.caixa_Imagem_cartaoArte{
    /* aspect-ratio: 4 / 1; */
    width: 52%;
    align-self: center;
}

/* Emoji eyes (código CSS) antes do título, se o mouse passar por cima:*/
.caixa_preview_cartaoArte:hover::before{
    position: absolute;
    font-size: x-large;
    margin: 2px 0 0 3px;
    content: "\1F440 ";
}

.preview_cartaoArte{
    width: 85%;
    align-self: center;
    border: solid 4px;
}

.descricao_cartaoArte{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.descricao_cartaoArte .tituloSecao{
    font-size: larger;
}

/* Emoji eyes (código CSS) antes do título, se o mouse passar por cima:*/
.descricao_cartaoArte .tituloSecao:hover::before{ 
    content: "\1F440  ";
}

.descricao_cartaoArte p{
    margin: 2% 0px;
}

.preview_MResolucao{
    margin-top: 2%;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 950px) {
    .caixa_Imagem_cartaoArte{
        width: 50%;
        margin-right: 4px;
    }
    .preview_cartaoArte{
        width: 100%;
        border-width: 2px;
    }
    .descricao_cartaoArte .tituloSecao::before{ 
        content: "\1F440  ";
    }
    .caixa_preview_cartaoArte::before{
        position: absolute;
        font-size: unset;
        margin: 2px 0 0 3px;
        content: "\1F440 ";
    }
}
  
@media (max-width: 675px) {
    .cartaoArte{
        flex-direction: column;  
    }
    .caixa_Imagem_cartaoArte{
        margin-bottom: 2%;
        width: 100%;
    }
    .descricao_cartaoArte{
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .descricao_cartaoArte{
        width: 100%;
    }
}