.botaoTopoMobile{
    display: none;
}

@media (max-width: 550px) {
    .caixa_BotaoTopoMobile{
        position: sticky;
        bottom: 2%;
        padding: 2%;
        margin: 0 12px 12px 12px;
        background-color: burlywood;
        font-weight: unset;
    }
    .botaoTopoMobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .botaoTopoMobile img{
        margin-left: 5px;
        width: 24px;
    }
}