#intro{
    display: flex;
    flex-direction: column;
}

#banner_Profile{
    max-width: 100%;
    margin-bottom: 3%;
  }

#info{
    display: flex;
    justify-content: space-between;
}

#info .caixa_Imagem_Profile{
    width: 24%;
    align-self: center;
}

#info .imagem_Profile{
    max-width: 75%;
    /* width: 52%; */
    align-self: center;
}

#info .imagem_Profile:hover{
    transform: rotateY(180deg);
}

.descricao_Secao p{
    margin: 2% 0px;
}


@media (max-width: 950px) {

    #info .caixa_Imagem_Profile{
      display: none;
    }
    #info .descricao_Secao{
      min-width: 100%;
    }
}

@media (max-width: 550px) {

    #info .tituloSecao{
        width: 80%;
    }
}