.labelQCA{
    place-self: center;
    color: var(--CrEspecial2);
}

.inputQCA{
    border-radius: 3px;
    border-width: 0px;
    background-color: var(--CrEspecial2);
    padding-left: 5px;
    min-width: 25%;
}