.box_SectionTitulos{
  display: flex;
  flex-direction: column;
  width: 74%;
  justify-content: space-between; /* 4K screens */
}

#mainEntrada section {
  background-color: var(--CrDivPri1);
}

#mainEntrada section .sectionTitulos {
  border-color: var(--CrDivPri2);
}

#mainEntrada section:nth-of-type(even) {  
  background-color: var(--CrDivSec1);
}
  
#mainEntrada section:nth-of-type(even) .sectionTitulos{
  border-color: var(--CrDivSec2);
}

#mainEntrada section:nth-last-child(1) {
  margin-bottom: 0px;
}