#filtragem{
    display: flex;
    flex-direction: column;
    background-color: var(--CrDivSec1);
    padding: 2% 4%;
    margin: 0 50px 18px 50px;
}

    .navegacao{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }

        .navegacao .sectionTitulos{
            width: 40%;
            margin-bottom: 0px;
            border-color: var(--CrDivSec2);
        }

    .botoesFiltro{
        display: flex;
        justify-content: space-between;
        min-height: 35px;
    }

        .botoesFiltro__child{
            display: flex;
            justify-content: center;
            gap: 4%;
        }

            .botoesFiltro__child__text{
                place-self: center;
                color: var(--CrEspecial2);
            }
            
            .botoesFiltro__child__form{
                border-radius: 3px;
                border-width: 0px;
                background-color: var(--CrEspecial1);
                padding-left: 5px;
                min-width: 25%;
            }
            .botoesFiltro__child__form:focus-visible{
                transition: outline-offset 0.2s linear;
                outline-width: 4px;
                outline-style: dashed;
                outline-color: var(--CrEspecial2);
                outline-offset: -3px;
            }

            .botoesFiltro__child__btn{
                background-color: var(--CrEspecial1);
                min-width: 42%;
                border-radius: 10px;
                border-width: 0px;
                height: 50px;
                font-weight: bold;                
            }

@media (max-width: 950px) {
    #filtragem{
        padding: 2% 3%;
        margin: 0 18px 18px 18px;
    }
    .navegacao .sectionTitulos{
        width: 65%;
    }
}

@media (max-width: 725px) {
    .botoesFiltro{
        flex-direction: column;
    }

}

@media (max-width: 580px) {
    #filtragem{
        padding: 2% 2%;
        margin: 0 12px 12px 12px;
    }

    .navegacao{
        justify-content: space-around;
        margin-bottom: 4%;
        margin-top: 2%;
    }

}