#caixa_ListaDeAtalhos{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listaDeAtalhos{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caixa_ListaDeAtalhos{
    min-height: 50%;
    display: flex;
    flex-direction: column;
}

.botaoAtalhos{
    background-color: chocolate;
    border-radius: 10px;
    border-width: 0px;
    padding: 10%;
    margin-bottom: 25%;
}

.botaoAtalhos a{
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: black;
}

#botaoAtalhosEntrada{
    background-color: darksalmon;
}

.botaoTopo{
    top: 0;
    background-color: darksalmon;
    color: antiquewhite;
    border-radius: 10px;
    border-width: 0px;
    padding: 10%;
}

@media (max-width: 950px) {
    #caixa_ListaDeAtalhos{
        min-width: 12%;
    }
    #listaDeAtalhos{
        margin: 2% 1%;
    }
    #listaDeAtalhos .botaoAtalhos{
        padding: 7%;
        margin-bottom: 20%;
    }
    #caixa_ListaDeAtalhos .botaoTopo{
        padding: 7%;
    }
    #caixa_ListaDeAtalhos img{
        max-width: 100%;
    }
  }
  
@media (max-width: 500px) {
    #caixa_ListaDeAtalhos {
        display: none;
    }
    /* #listaDeAtalhos{
        margin: 3% 1%;
    }
    #listaDeAtalhos .botaoAtalhos{
        margin-bottom: 30%;
    }
    #caixa_ListaDeAtalhos span {
        display: none;
    } */
  }