@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
  font-family: 'DynaPuff', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Faz a tela ser totalmente preenchida (responsivo)*/
html, body {
  margin: 0px;
  height: 100%;
  background-color: goldenrod;
}

#rootHome{
  min-height: 100%; /*A tela é prejudicada por "height: 100%" se o conteúdo é a galeria de desenhos*/
  width: 100%;
  text-align: -webkit-center;
  display: inline-flex;
  background-image: url('./img/Wallpapers/TexturePers_SantaFeStucco002.png');
}

#PainelConteudo{
  width: 100%;
  background-color: sienna;
  display: flex;
  flex-direction: column;
}

#PainelConteudo main section {
  padding: 2% 4%;
  margin: 0 50px 18px 50px;
}

.tituloSecao{
  font-size: x-large;
  padding-bottom: 2%;
  margin-bottom: 3%;
  align-self: center;
  border-bottom: solid 4px;
}

.caixa_Paragrafo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zoomHover:hover{
  transform: scale(1.05);
  transition: 0.5s cubic-bezier(0, 0, 0, 1.2);
  cursor: pointer;
}

.customVisitedButton{ /* Define a cor enquanto não ainda visitado */
  color: black;
}

.customVisitedButton:visited{ /* Mantêm a cor quando já visitado */
  color: black;
}

.botoes{
  border-radius: 10px;
  border-width: 0px;
  font-weight: bold;
}

.botaoAno{
  display: inline-grid;
  place-content: center;
  background-color: antiquewhite;
  height: 50px;
  min-width: 22%;
  font-size: larger;
  text-decoration: none;
}

.botaoTema{
  background-color: chocolate;
  width: 32%;
}

.botaoTema img{
  width: 45px;
}

.botoesAnos{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 950px) {
  #PainelConteudo main section {
    padding: 2% 3%;
    margin: 0 18px 18px 18px;
  }
  .paragrafo p{
    margin: 8px 0px;
  }
}

@media (max-width: 500px) {
  .tituloSecao{
    font-size: larger;
  }
  #PainelConteudo main section {
    padding: 2% 2%;
    margin: 0 12px 12px 12px;
  }
  .botaoTema{
      max-width: 23%;
  }
  /* #rootHome{
    background-image: url('img/Wallpapers/TexturePers_SantaFeStucco002.png');
  } */
}