@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

:root{
  /* Variáveis de predefinição estarão aqui em breve! */
  --CrPri: goldenrod;
  --CrSec: sienna;
  --CrBtns1: chocolate;
  --CrBtns2: darksalmon;
  --CrBtns3: burlywood;

  --CrDivPri1: antiquewhite;
  --CrDivPri2: burlywood;
  --CrDivSec1: darksalmon;
  --CrDivSec2: peachpuff;

  --CrEspecial1: antiquewhite;
  --CrEspecial2: peachpuff;
  --CrFonte: black;
}

* {
  font-family: 'DynaPuff', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Faz a tela ser totalmente preenchida (responsivo)*/
html, body {
  margin: 0px;
  height: 100%;
  background-color: var(--CrPri);
}

/* scrollbar customizada */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-image: url('./img/Wallpapers/Gradient_SmallerDashedBurlywood.png');
}
::-webkit-scrollbar-thumb {
  background-color: var(--CrBtns1);
  border-radius: 4px;
}

#rootHome{
  width: 100%;
  text-align: -webkit-center;
  display: inline-flex;
  background-image: url('./img/Wallpapers/Gradient_SmallerDashedBurlywood.png');
}

#PainelConteudo{
  width: 100%;
  background-color: var(--CrSec);
  display: flex;
  flex-direction: column;
}

#PainelConteudo main section {
  /* As seções no painel conteúdo recebem um espaçamento para melhor visibilidade a seguir: */
  padding: 2% 4%;
  margin: 0 50px 18px 50px;
}

.sectionTitulos{
  font-size: x-large;
  padding-bottom: 2%;
  margin-bottom: 3%;
  align-self: center;
  border-bottom: solid 4px;
}

.caixa_Paragrafo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zoomHover:hover{
  transform: scale(1.05);
  transition: 0.5s cubic-bezier(0, 0, 0, 1.2);
  cursor: pointer;
}

.customVisitedButton{
  /* Define a cor enquanto não ainda visitado */
  color: var(--CrFonte);
}

.customVisitedButton:visited{
  /* Mantêm a cor quando já visitado */
  color: var(--CrFonte);
}

.botoes{
  border-radius: 10px;
  border-width: 0px;
  font-weight: bold;
}

@media (max-width: 950px) {
  #PainelConteudo main section {
    padding: 2% 3%;
    margin: 0 18px 18px 18px;
  }
  .paragrafo p{
    margin: 8px 0px;
  }
}

@media (max-width: 580px) {
  .sectionTitulos{
    font-size: larger;
  }
  #PainelConteudo main section {
    padding: 2% 2%;
    margin: 0 12px 12px 12px;
  }
}