.box_DescFerramenta{
    display: inline-grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
}

.descFerramenta {
    padding: 0px 2%;
}

.box_ImgFerramenta{
    height: 100px;
    width: 100px;
    align-self: center;
    margin: 10px 0px;
}

.box_ImgFerramenta img{
    height: 100%;
}
.box_ImgFerramenta img:hover{
    background-image: radial-gradient(circle, var(--CrBtns3)/* red */ 25%, transparent 70%);
}

.descFerramenta p{
    font-size: smaller;
}

@media (max-width: 950px) {
    .box_DescFerramenta{
        grid-template-columns: 48% 48%;
    }

    .descFerramenta {
        padding: 4% 2%;
    }

}

@media (max-width: 500px) {
    .box_DescFerramenta{
        display: initial;
    }

    .descFerramenta {
        padding: 2%;
    }

}